 /* Banner Section */

    .product-header {
      text-align: center;
      max-width: 900px;
      margin: 40px auto 20px auto;
      padding: 0 15px;
    }

    .product-header h2 {
      /* font-size: 2.8rem;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase; */
      margin-bottom: 0.5rem;
    }

    .product-header p {
      /* font-size: 1.2rem; */
      /* font-style: italic; */
      line-height: 1.5;
      margin-bottom: 1rem;
      color: black;
    }

    /* Full width banner image */
    .banner-container {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      overflow: hidden;
      margin-bottom: 40px;
    }

    .banner-container img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      display: block;
      border-radius: 0;
      transition: transform 0.4s ease;
    }

    /* .banner-container img:hover {
      transform: scale(1.05);
      cursor: pointer;
    } */

    /* Other headings */
    h3.product-title,
    h3 {
      color: #542001;
      margin: 30px 0 15px;
      text-align: center;
      font-size: 2rem !important
    }

    p.text-center.fst-italic {
      margin-bottom: 40px;
      color: #542001cc;
    }

    /* Carousel Images */
    .carousel-item img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      border-radius: 6px;
    }
